<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GymSenior</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	<div class="container">
		<header>
			<a href="index.html" class="logo-header-link"><img src="img/logo_main.png" alt="GymSenior" class="logo-header"></a>
			<a href="login.html" class="profile-link"><i class="material-icons profile">account_circle</i></a>
			<i class="material-icons menu-icon" onclick="toggleMenu()">menu</i>
			<div class="menu">
				<div class="menu-items">
					<i class="material-icons right-arrow" onclick="toggleMenu()">keyboard_arrow_right</i>
					<ul class="choices">
						<li><a href="index.html">Hem</a></li>
						<li><a href="login.html">Logga in</a></li>
						<li><a href="omoss.html">Om oss</a></li>
						<!--
						<li><a href="">Träna</a></li>
						<li><a href="">Priser</a></li>
						<li><a href="">Kontakta oss</a></li>
						-->
					</ul>
				</div>
			</div>
		</header>

		<main>
			<%= yield %>
		</main>

		<footer>
			<h3 class="footer_heading_contact">
				Kontakta oss
			</h3>
			<ul class="footer_contact">
				<li>Drottninggatan 52C</li>
				<li>info@gymsenior.com</li>
				<li>070-344 62 73</li>
			</ul>
			<img src="img/map.png" alt="" class="map_img">
		</footer>

	</div>
	 <script src="js/menu.js"></script>
</body>
</html>