<h1 class="info_text">Om oss</h1>
<img src="img/anstallda.jpg" alt="Anställda" class="employees_img">
<div class="about_us">
	<h2 class="heading_about">Vi är Gymsenior</h2>
	<h3 class="subheading_about">Lorem ipsum dolor sit amet, consectetur adip isicing elit. Reprehenderit, rerum nisi mole stiae eveniet, veniam sequi delectus, ab, dignissimos tempora debitis repellat suscipit. Consequatur, iusto, ut.</h3>
	<p class="about_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsam, officiis doloremque distinctio iure aut impedit nulla quisquam, error. Tempora repudiandae, in minima obcaecati exercitationem quod harum ex, quisquam ipsam iusto voluptatem accusantium doloribus, doloremque unde id. Ab laudantium expedita optio! Laboriosam ipsum rerum, deserunt repellendus hic qui quia commodi iusto porro voluptas explicabo quod eius repellat, facilis illo neque voluptates voluptatum fuga veritatis sint. Esse blanditiis ratione beatae, nesciunt corporis. Velit consequatur, similique. Rem voluptatibus ad minus dolore vero distinctio aspernatur, id accusantium ut qui, aut quaerat facere, quod.</p>
</div>