@media only screen and (max-device-width: 750px){

	body {
		margin: 0;
		padding: 0;
	}
	.container {
		width: 100vw;
		height: 150vh;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(18, 1fr);
		display: grid;
	}

	header {
		background-color: white;
		margin-top: 0;
		width: 100vw;
		height: 8.5vh;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		position: fixed;
	}

	.logo-header {
		margin: auto;
		grid-column: span 2;
		grid-row: span 1;
		width: 35vw;
	}

	.material-icons.profile {
		grid-column: 4/5;
		font-size: 7vw;
		justify-self: right;
		margin-top: auto;
		margin-bottom: auto;
	}

	.material-icons.menu-icon {
		grid-column: span 1;
		margin: auto;
		font-size: 12vw;
	}

	.menu {
		position: absolute;
		width: 60vw;
		margin-left: 40vw;
		display: none;
		position: fixed;

	}

	.menu-items {
		height: 150vh;
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(18, 1fr);
	}
	
	.material-icons.right-arrow {
		grid-column: span 1;
		grid-row: span 1;
		margin: auto;
		font-size: 10vw;
	}

	
	.show-menu {
		display: block;
	}

	main {
		grid-column: 1/6;
		grid-row: 2/19;
		background-color: blue;
	}

	.fade-main {
		background-color: black;

	}

	.show-menu:active {
		transition: 1s;
	}

/*
	@keyframes menu-slide{
		from {margin-left: 100vw}
		to {margin-left: 40vw;} 
	}

	.menu:hover {
		animation-name: menu-slide;
		animation-duration: 2s;
	}
	*/
}